//================ LOGO =====================

.logo {
  height: 35px;
}

//================ MENU =====================

.menu {
  &__list {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
  }

  &__item {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: $accentColor;
      bottom: -4px;
      transition: width .4s;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 50%;
    }
  }
}

.burger-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 20px;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
  z-index: 9999;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $accentColor;

  }
}

//================ BUTTON =====================

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  // for tag button
  cursor: pointer;
  border: none;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($blackColor, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($blackColor, .2);
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
  }
}

.button:hover::after {

}

.button--white {
  background-color: $whiteColor;
  color: $mainColor;

  &::after {
    background-color: $whiteColor;
  }
}

.button--animated {
  animation: moveToTop .5s ease-out .7s;
  animation-fill-mode: backwards;
}

//================ FORM =====================

.form {
  padding: 70px 40px;
  background-color: #fff;
  box-shadow: 0 4px 11px rgba(199, 175, 165, 0.30);
  margin-top: 110px;

  &__title {
    font-size: 25px;
    font-family: "Yeseva One", serif;
    text-align: center;
    margin-bottom: 50px;
  }

  &__email {
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    color: $secondaryBgColor;
    padding: 0 10px;
    font-size: 16px;

    &::placeholder {
      color: $darkColor;
      letter-spacing: 1px;
    }

    &:focus {
      outline: 1px solid rgba($accentColor, .3);
    }
  }
}

//================ ACCORDEON =====================

.accordeon {
  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__title {
    padding: 16px 53px 16px 13px;
    font-size: 16px;
    font-family: "Yeseva One", serif;
    background-color: #fff;
    position: relative;
    // box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url(../images/src/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center center;
      right: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform .3s;
    }
  }

  &__text {
    background-color: #fff;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  &__list {
    list-style: decimal;
    padding: 0 6px 12px 20px;
  }
}

.accordeon__title.accordeon__title--active::after {
  transform: translateY(-50%) rotate(180deg);
}