//===============================================================================
// ================================ BUTTON ======================================
//===============================================================================

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  // for tag button
  cursor: pointer;
  border: none;

  &:hover {
    transform: translateY(3px);
    @include shadow(0, 1rem, 2rem, rgba($blackColor, .2));

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(1px);
    @include shadow(0, .5rem, 1rem, rgba($blackColor, .2));
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s;
  }
}

.button--white {
  background-color: $whiteColor;
  color: $mainTextColor;

  &::after {
    background-color: $whiteColor;
  }
}

.button--green {
  background-color: $primaryColorDark;
  color: $whiteColor;

  &::after {
    background-color: $primaryColorDark;
  }
}

.button--animated {
  animation: moveToTop .5s ease-out .7s;
  animation-fill-mode: backwards;
}

.btn {
  transition: all .3s ease-in;
  &:link,
  &:visited {
    color: $primaryColorDarken;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primaryColorDarken;
    padding: 3px;
  }

  &:hover {
    background-color: $primaryColorDarken;
    color: $whiteColor;
    @include shadow(0, 1rem, 2rem, rgba($blackColor, .2));
    transform: translateY(-2px);

    &:active {
      @include shadow(0, .5rem, 1rem, rgba($blackColor, .2));
      transform: translateY(-2px);
    }
  }
}

//===============================================================================
// ================================ TITLE =======================================
//===============================================================================

.title {
  text-transform: uppercase;
  font-weight: 700;
}

.title--extra-large {
  display: inline-block;
  font-size: 3.5rem;
  @include gradient(to right, $primaryColorLight, $primaryColorDark);
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: transform .3s ease-out;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    //text-shadow: $textShadowDefault;
    @include shadow(0, 1.5rem, 4rem, rgba($blackColor, .15), text);

  }
}

.title--large {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

//===============================================================================
// ================================ CARD ========================================
//===============================================================================

//card
.card {
  background-color: rgb($whiteColor, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  @include shadow(0, 2.5rem, 4rem, rgba($blackColor, .5));
  transition: transform .3s ease-out;

  &:hover {
    transform: translateY(-1.5rem) scale(1.02);
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__icon {
    font-size: 6rem;
    display: inline-block;
    @include gradient(to right, $primaryColorLight, $primaryColorDark);
    background-clip: text;
    color: transparent;
    margin-bottom: .5rem;
  }
}

//tour-card
.tour-card {
  min-height: 52.2rem;
  position: relative;
  perspective: 150rem;
  width: 30rem;
  padding: 2rem;

  &__side {
    min-height: 52.2rem;
    width: 30rem;
    transition: all .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;



    &--front {
      @include shadow(0, 1.5rem, 4rem, rgba($blackColor, .15));
    }

    &--back {
      transform: rotateY(-180deg);
      @include shadow(0, 1.5rem, 4rem, rgba($blackColor, .15));
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__image {
    height: 23rem;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;

    &-title {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $whiteColor;
      position: absolute;
      top: 14rem;
      right: 2rem;
      z-index: 10;


      span {
        display: block;
        padding: 1rem 1.5rem;
        text-align: right;
        line-height: 0.9;
        margin-top: -.5rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }

  &__list {
    padding: 3rem;
    margin: 0 auto;
    width: 80%;

    &-item {
      padding: 1rem;
      font-size: 1.5rem;

      &:not(:last-child) {
        border-bottom: 1px solid $greyColor;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // .tour-card.card--yellow
  &.card--yellow {
    .tour-card__side--back {
      @include gradient(to right bottom, $colorSecondaryLight, $colorSecondaryDark);
      display: flex;
      justify-content: center;
      color: $whiteColor;
    }

    .tour-card__image {
      @include gradient(to right bottom, $colorSecondaryLight, $colorSecondaryDark, 1, "../images/nat-5.webp");

      &-title {
        span {
          @include gradient(to right bottom, $colorSecondaryLight, $colorSecondaryDark, .85);
        }
      }
    }
  }
  // .tour-card.card--green
  &.card--green {
    .tour-card__side--back {
      @include gradient(to right bottom, $primaryColorLight, $primaryColorLight);
      display: flex;
      justify-content: center;
      color: $whiteColor;
    }

    .tour-card__image {
      @include gradient(to right bottom, $primaryColorLight, $primaryColorLight, 1, "../images/nat-6.webp");

      &-title {
        span {
          @include gradient(to right bottom, $primaryColorLight, $primaryColorLight, .85);
        }
      }
    }
  }
  // .tour-card.card--blue
  &.card--blue {
    .tour-card__side--back {
      @include gradient(to right bottom, $colorTertiaryLight, $colorTertiaryDark);
      display: flex;
      justify-content: center;
      color: $whiteColor;
    }

    .tour-card__image {
      @include gradient(to right bottom, $colorTertiaryLight, $colorTertiaryDark, 1, "../images/nat-7.webp");

      &-title {
        span {
          @include gradient(to right bottom, $colorTertiaryLight, $colorTertiaryDark, .85);
        }
      }
    }
  }
}

//===============================================================================
// ================================ STORY =======================================
//===============================================================================

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba($whiteColor, .6);
  border-radius: 3px;
  @include shadow(0, 3rem, 6rem, rgba($blackColor, .1));
  padding: 3rem;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__image {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 3rem;
    position: relative;

    img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      transition: all .4s ease-in-out;
    }

    &-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: $whiteColor;
      font-size: 1.7rem;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      transition: all .4s ease-in-out;
      backface-visibility: hidden;
    }
  }

  &:hover &__image-name {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

//===============================================================================
// =============================== BG-VIDEO =====================================
//===============================================================================

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//===============================================================================
// ================================= FORM =======================================
//===============================================================================

.form {
  width: 50%;
  padding: 6rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &-box {
      width: 45%;
      display: inline-block;
      margin-bottom: 4rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgba($whiteColor, .5);
    border-bottom: solid 3px transparent;
    display: block;
    width: 90%;
    transition: all .3s;

    &:focus {
      outline: none;
      @include shadow(0, 1rem, 2rem, rgba($blackColor, .1));
      border-bottom: solid 3px $primaryColorDark;
    }

    &:focus:invalid {
      border-bottom: solid 3px $colorSecondaryDark;
    }

    &::placeholder {
      color: $placeholderColor;
    }

    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }

  &__label {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s ease-out;

    &-radio {
      cursor: pointer;
      position: relative;
      padding-left: 5rem;
    }
  }

  &__radio {
    display: none;

    &-btn {
      width: 3rem;
      height: 3rem;
      border: 5px solid $primaryColorDark;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -.5rem;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        height: 1.2rem;
        width: 1.2rem;
        background-color: $primaryColorDark;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }
}

// select custom btn
.form__radio:checked ~ .form__label-radio .form__radio-btn::after {
  opacity: 1;
}

//===============================================================================
// ============================== NAVIGATION ====================================
//===============================================================================

.navigation {
  // .navigation__checkbox
  &__checkbox {
    display: none;
  }

  // .navigation__button
  &__button {
    background-color: $whiteColor;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    @include shadow(0, 1rem, 3rem, rgba($blackColor, .1));
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    transition: all .2s;

    &:hover {
      gap: .9rem;
    }

    &-line {
      width: 3rem;
      height: 2px;
      background-color: $footerBgColor;
      display: inline-block;
      transition: all .5s;

      &--middle {
        opacity: 1;
      }
    }
  }

  // .navigation__background
  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($primaryColorLight, $primaryColorDark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(.86, 0, .07, 1);
  }

  // .navigation__box
  &__box {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    //hide menu
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(.68, -.55, .265, 1.55);
  }

  // .navigation__list
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  // .navigation__item
  &__item {
    margin: 1rem;
  }

  // .navigation__link  
  &__link {
    transition: all .4s;
    display: inline-block;

    span {
      display: inline-block;
      margin-right: 1.5rem;
    }

    &:link,
    &:visited {
      padding: 1rem;
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $whiteColor;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $whiteColor 50%);
      background-size: 230%;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $primaryColorDark;
      transform: translateX(1rem);
    }
  }
}

// show menu
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__box {
  opacity: 1;
  width: 100vw;
}

// animate burger menu

.navigation__checkbox:checked + .navigation__button .navigation__button-line--top {
  transform: rotate(405deg) translate(4px, 4px);
}

.navigation__checkbox:checked + .navigation__button .navigation__button-line--middle {
  display: none;
  opacity: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__button-line--bottom {
  transform: rotate(-405deg) translate(2px, -2px);;
}
.navigation__checkbox:checked + .navigation__button:hover {
  gap: .7rem;
}

//===============================================================================
// ================================= POPUP ======================================
//===============================================================================

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($blackColor, .8);
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    width: 75%;
    background-color: $whiteColor;
    @include shadow(0, 2rem, 4rem, rgba($blackColor, .2));
    opacity: 0;
    transform: scale(.5);
    transition: all .3s .2s;
  }

  // .popup__inner
  &__inner {
    display: grid;
    grid-template-columns: 33% 67%;
  }

  // .popup__image
  &__image {
    display: flex;
    flex-direction: column;
    
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  // .popup__content
  &__content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  // .popup__title
  &__title {
    margin-bottom: 1rem;
  }

  // .popup__title-second
  &__title-second {
    margin-bottom: 1rem;
  }

  // .popup__text
  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $greyColor;
    hyphens: auto;
  }

  // .popup__button
  &__button {
    margin-top: auto;
  }

  &__close {
    position: absolute;
    top: .8rem;
    right: 1.5rem;
    font-size: 2rem;
    display: inline-block;
    line-height: 1;
    padding: 1rem;

    &:hover {
      color: $primaryColorDark;
    }
  }
}

.popup:target .popup__wrapper {
  opacity: 1;
  transform: scale(1);
}