//================ MENU =====================

.menu {
  &__list {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
  }

  &__item {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0.3rem;
      background-color: $accentColor;
      bottom: -0.4rem;
      transition: width .4s;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 50%;
    }
  }
}

.burger-menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 2rem;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
  z-index: 9999;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $accentColor;

  }
}

//================ BUTTON =====================

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  // for tag button
  cursor: pointer;
  border: none;

  &:hover {
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba($blackColor, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0.5rem 1rem rgba($blackColor, .2);
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s;
  }
}

.button--white {
  background-color: $whiteColor;
  color: $mainColor;

  &::after {
    background-color: $whiteColor;
  }
}

.button--animated {
  animation: moveToTop .5s ease-out .7s;
  animation-fill-mode: backwards;
}

//================ FORM =====================

.form {
  padding: 7rem 4rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 1.1rem rgba(199, 175, 165, 0.30);
  margin-top: 11rem;

  &__title {
    font-size: 2.5rem;
    font-family: "Yeseva One", serif;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__email {
    margin-bottom: 5rem;
  }

  input {
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    color: $secondaryBgColor;
    padding: 0 1rem;
    font-size: 1.6rem;

    &::placeholder {
      color: $darkColor;
      letter-spacing: 1px;
    }

    &:focus {
      outline: 1px solid rgba($accentColor, .3);
    }
  }
}

//================ ACCORDEON =====================

.accordeon {
  &__item {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__title {
    padding: 1.6rem 5.3rem 1.6rem 1.3rem;
    font-size: 1.6rem;
    font-family: "Yeseva One", serif;
    background-color: #fff;
    position: relative;
    // box-shadow: 0px 4px 11px 0px rgba(199, 175, 165, 0.30);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../images/src/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center center;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform .3s;
    }
  }

  &__text {
    background-color: #fff;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  &__list {
    list-style: decimal;
    padding: 0 0.6rem 1.2rem 2rem;
  }
}

.accordeon__title.accordeon__title--active::after {
  transform: translateY(-50%) rotate(180deg);
}