.features {
  @include gradient(to right bottom, $primaryColorLight, $primaryColorDark, .8, "../images/nat-4.webp");
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(4, 1fr);
  }
}