.footer {
  background-color: $footerBgColor;
  padding-block: 10rem;
  font-size: 1.4rem;

  &__logo {
    margin-block-end: 8rem;

    &-item {
      margin-inline: auto;
      inline-size: 15rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    padding-block-start: 2rem;
    border-top: solid 1px $mainTextColor;

    &-list {
      display: flex;
      gap: 1.5rem;
    }

    &-link {
      display: inline-block;
      transition: transform 0.2s;

      &:link,
      &:visited {
        text-transform: uppercase;
        color: $greyColor;
      }

      &:hover,
      &:active {
        color: $primaryColorDark;
        @include shadow(0, 1rem, 2rem, rgba($blackColor, .8));
        transform: rotateZ(8deg) scale(1.1);
      }
    }
  }

  &__copy {
    padding-block-start: 2rem;
    border-top: solid 1px $mainTextColor;

    color: $placeholderColor;
    &-link {
      color: $greyColor;
      text-transform: uppercase;
    }
  }
}