.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($primaryColorLight, .8), rgba($primaryColorDark, .8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: left top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;

    img {
      height: 3.5rem;
    }
  }

  &__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    color: $whiteColor;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    span {
      display: block;
    }

    &-top {
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation: moveToRight 1s ease-out;
    }

    &-bottom {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.74rem;
      animation: moveToLeft 1s ease-out;
    }
  }

  &__button {
    text-align: center;
  }
}