/* ==========================================================================
========================       MEDIA 1200px      ============================
===========================================================================*/

@media (max-width: 75em) {

  html {
    font-size: 56.25%;
  }
}

/* ==========================================================================
========================       MEDIA 1000px      ============================
===========================================================================*/

@media (max-width: 62.5em) {

  .tours__wrapper {
    gap: 2rem;
  }

  .form {
    &__group {
      &-box {
        inline-size: 100%;
      }
    }

    &__title {
      font-size: 2.8rem;
    }
  }

  .popup {
    &__text {
      column-count: 1 ;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 940px      ============================
===========================================================================*/

@media (max-width: 58.75em) {

  .features__wrapper {
    gap: 2rem;
  }

  .popup {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__content {
      padding: 4rem 2rem;
    }

    &__title {
      text-align: center;

      &-second {
        text-align: center;
      }
    }

    &__image {
      display: none;
    }

    &__text {
      font-size: 2rem;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 900px      ============================
===========================================================================*/

@media (max-width: 56.25em) {

  html {
    font-size: 50%;
  }
}

/* ==========================================================================
=========================       MEDIA 820px      ============================
===========================================================================*/

@media (max-width: 51.25em) {

  .tour-card {
    inline-size: 25rem;

    &__side {
      inline-size: 25rem;
    }

    &__list {
      padding: 3rem 0;
    }
  }

  .footer__content {
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ==========================================================================
=========================       MEDIA 768px      ============================
===========================================================================*/

@media (max-width: 48em) {

  body {
    padding: 0;
  }

  .navigation {
    &__button {
      top: 3rem;
      right: 3rem;
    }

    &__background {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  .about {
    padding: 10rem 0 50rem;

    &__wrapper {
      grid-template-columns: 1fr;
      gap: 10rem;
    }

    &__images {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-inline-size: 85%;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 640px      ============================
===========================================================================*/

@media (max-width: 40em) {

  html {
    font-size: 37.5%;
  }

  .navigation__checkbox:checked+.navigation__button .navigation__button-line--top {
    transform: rotate(405deg) translate(2px, 2px);
  }
}

/* ==========================================================================
=========================       MEDIA 500px      ============================
===========================================================================*/

@media (max-width: 31.25em) {

  .features__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .card {
    margin-inline: auto;

    &__title {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 2rem;
    }
  }

  .form {
    inline-size: 100%;

    &__input {
      inline-size: 100%;
    }
  }

  .book {
    &__wrapper {
      @include gradient(to right, $whiteColor, $whiteColor, .8, "../images/nat-10.webp");
    }
  }
}

/* ==========================================================================
=========================       MEDIA 480px      ============================
===========================================================================*/

@media (max-width: 30em) {

  .about {
    &__content {
      text-align: center;
    }
  }

  .tours {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 6rem;
    }
  }

  .tour-card {
    inline-size: 35rem;
    margin-inline: auto;

    &__side {
      inline-size: 35rem;
    }

    &__image {
      &-title {
        font-size: 4rem;
      }
    }

    &__list {
      &-item {
        font-size: 2rem;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 410px      ============================
===========================================================================*/

@media (max-width: 25.625em) {

  .header {
    &__content {
      top: 50%;
    }

    &__title {
      text-align: center;

      &-top {
        font-size: 3.5rem;
        margin-block-end: 1rem;
        letter-spacing: 2.8rem;
      }
  
      &-bottom {
        font-size: 1.8rem;
        letter-spacing: 0.7rem;
      }
    }
  }

  .navigation {
    &__list {
      inline-size: 100%;
    }
  }

  .about {
    padding: 8rem 0 35rem;

    &__content {
      &-title {
        font-size: 2.4rem;
      }

      &-text {
        font-size: 2.4rem;
      }
    }

    &__title {
      margin-block-end: 6rem;
    }
  }

  .btn {
    font-size: 2.4rem;
  }

  .story {
    inline-size: 100%;
    padding: 2rem;
    transform: skewX(0);

    & > * {
      transform: skewX(0);
    }

    &__text {
      font-size: 2rem;
    }
  }

  .form {
    padding: 3rem;
  }
}

/* ==========================================================================
=========================       MEDIA 360px      ============================
===========================================================================*/

@media (max-width: 22.5em) {

  .features__wrapper { 
    gap: 6rem 2rem;
  }
}