.tours {
  background-color: $mainBgColor;
  text-align: center;

  &__title {
    margin-block-end: 8rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 6rem;
    justify-content: center;
    margin-block-end: 8rem;
  }
}