.tours {
  background-color: $mainBgColor;
  padding: 30rem 0;
  margin-top: -11rem;
  text-align: center;

  &__title {
    margin-bottom: 8rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 6rem;
    justify-content: center;
  }
}