$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

$whiteColor: #fff;
$blackColor: #000;

$mainColor: #777;





$mainBgColor: #fff8f3;
$secondaryBgColor: #a5978e;

$secondaryColor: #333;



$darkColor: #111;
$tintColor: #aaa;

$accentColor: #343444;
