    <!-- SECTION ABOUT -->
    <section class="about">
      <div class="container">
        <h2 class="about__title title title--extra-large">Exiting tours for adventurous people</h2>
        <div class="about__wrapper">
          <div class="about__content">
            <!-- First title-->
            <h2 class="about__content-title title title--large">You're going to fall in love with nature</h2>
            <p class="about__content-text text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem corporis ducimus eaque est fugit ipsum libero, minima nostrum nulla placeat quaerat, quos, sequi tempore voluptatibus. Asperiores eligendi expedita suscipit.
            </p>
            <!-- Second title-->
            <h2 class="about__content-title title title--large">Live adventures like you never have before</h2>
            <p class="about__content-text text">
              Consequatur debitis, dolore dolorem facere hic ipsa minima officia quaerat ratione. Ad enim fugit harum illum ipsum iste odit, quas sequi similique?
            </p>
            <a href="#" class="btn">Learn more &rarr;</a>
          </div>
          <div class="about__images">
            <img src="./images/nat-1-large.jpg" alt="Photo of nature" class="about__images-item about__images-item--1">
            <img src="./images/nat-2-large.jpg" alt="Photo of nature" class="about__images-item about__images-item--2">
            <img src="./images/nat-3-large.jpg" alt="Photo of nature" class="about__images-item about__images-item--3">
          </div>
        </div>
      </div>
    </section>