  <!-- SECTION HEADER -->
  <header class="header">
<!--  logo  -->
    <div class="header__logo">
      <img src="images/logo-white.png" alt="Natours">
    </div>
<!--  header content  -->
    <div class="header__content">
      <h1 class="header__title"><span class="header__title-top">Outdoors</span><span class="header__title-bottom">is where life happens</span></h1>
      <div class="header__button"><a href="#" class="button button--white button--animated">Discover our tours</a></div>
    </div>
  </header>
  <main>