    <!-- SECTION TOURS -->
    <section class="tours">
      <div class="container">
        <h2 class="tours__title title title--extra-large">Most popular tours</h2>
        <div class="tours__wrapper">
          <div class="tour-card card--yellow">
            <div class="tour-card__side">
              <div class="tour-card__side tour-card__side--front">
                <div class="tour-card__image"></div>
                <h4 class="tour-card__image-title"><span>The sea</span><span>explorer</span></h4>
                <ul class="tour-card__list">
                  <li class="tour-card__list-item">3 days tour</li>
                  <li class="tour-card__list-item">Up to 30 people</li>
                  <li class="tour-card__list-item">2 tour guides</li>
                  <li class="tour-card__list-item">Sleep in cozy hostels</li>
                  <li class="tour-card__list-item">Difficulty: very easy</li>
                </ul>
              </div>
              <div class="tour-card__side tour-card__side--back">
                <div class="tour-card__side-wrapper">
                  <p class="tour-card__text">only</p>
                  <div class="tour-card__price">$297</div>
                  <a href="#" class="button">Book now!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="button button--green">Discover all tours</a>
      </div>
    </section>